*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 300vw;
    transition: transform 0.5s;
    
}
.inner{
    width: 100vw;
    float: left;
}
.inner img{
    width: 100%;
    
}